@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --max-container-width: 1200px;

  --background: #f4f4f4;
  --foreground: oklch(11.439% 0.0069 261.028);

  --card: oklch(100% 0 0);
  --card-foreground: oklch(11.439% 0.0069 261.028);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(11.439% 0.0069 261.028);

  --primary: oklch(62.7% 0.201 29.6);
  --primary-foreground: oklch(98% 0.01 264.7);

  --secondary: oklch(96% 0.005 264.7);
  --secondary-foreground: oklch(11.439% 0.0069 261.028);

  --muted: oklch(97.03% 0 0);
  --muted-foreground: oklch(60% 0.02 264.7);

  --accent: oklch(96% 0.005 264.7);
  --accent-foreground: oklch(11.439% 0.0069 261.028);

  --destructive: oklch(62.7% 0.201 29.6);
  --destructive-foreground: oklch(98% 0.01 264.7);

  --border: oklch(91.4% 0.032 264.7);
  --input: oklch(91.4% 0.032 264.7);
  --ring: oklch(11.439% 0.0069 261.028);

  --chart-1: oklch(76% 0.18 49.2);
  --chart-2: oklch(52% 0.14 182.5);
  --chart-3: oklch(38% 0.08 210);
  --chart-4: oklch(75% 0.19 99.2);
  --chart-5: oklch(72% 0.21 69.2);

  --sidebar: oklch(98.5% 0 0);
  --sidebar-foreground: oklch(14.5% 0 0);
  --sidebar-primary: oklch(20.5% 0 0);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(97% 0 0);
  --sidebar-accent-foreground: oklch(20.5% 0 0);
  --sidebar-border: oklch(92.2% 0 0);
  --sidebar-ring: oklch(70.8% 0 0);
}

.dark {
  --background: oklch(3.9% 0.01 264.7);
  --foreground: oklch(98% 0.01 264.7);

  --card: oklch(3.9% 0.01 264.7);
  --card-foreground: oklch(98% 0.01 264.7);

  --popover: oklch(3.9% 0.01 264.7);
  --popover-foreground: oklch(98% 0.01 264.7);

  --primary: oklch(62.7% 0.201 29.6);
  --primary-foreground: oklch(15% 0.005 264.7);

  --secondary: oklch(15.9% 0.005 264.7);
  --secondary-foreground: oklch(98% 0.01 264.7);

  --muted: oklch(10% 0.005 264.7);
  --muted-foreground: oklch(64.9% 0.02 264.7);

  --accent: oklch(15.9% 0.005 264.7);
  --accent-foreground: oklch(98% 0.01 264.7);

  --destructive: oklch(30.6% 0.201 29.6);
  --destructive-foreground: oklch(97.3% 0.01 29.6);

  --border: oklch(15.9% 0.005 264.7);
  --input: oklch(15.9% 0.005 264.7);
  --ring: oklch(83.9% 0.01 264.7);

  --chart-1: oklch(70% 0.18 264.7);
  --chart-2: oklch(60% 0.14 182.5);
  --chart-3: oklch(55% 0.19 99.2);
  --chart-4: oklch(60% 0.19 299.2);
  --chart-5: oklch(55% 0.21 339.2);

  --sidebar: oklch(20.5% 0 0);
  --sidebar-foreground: oklch(98.5% 0 0);
  --sidebar-primary: oklch(48.8% 0.243 264.376);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(26.9% 0 0);
  --sidebar-accent-foreground: oklch(98.5% 0 0);
  --sidebar-border: oklch(100% 0 0 / 10%);
  --sidebar-ring: oklch(55.6% 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }
}
